* {
    box-sizing: border-box;
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canv-box {
    display: flex;
    flex-direction: column;
}

#canvas {
    border: 1px solid #ff0000;
    width: 500px;
    height: 200px;
}

.score-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#progress, #high-score {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.reload-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reload-box img {
    width: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    #canvas {
        width: 320px;
    }
}